<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/css/aboutus.css" rel="stylesheet" />
<title>About Us</title>
</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                </div>

                <ul class="nav-items">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/stars">Stars</a>
                    </li>
                    <li>
                        <a href="/asteroids">Asteroids</a>
                    </li>
                    <li>
                        <a href="/galaxies">Galaxies</a>
                    <li>
                        <a href="/aboutus">About Us</a>
                    </li>
                </ul>
                
            </nav>
        </div>
    </div>

<div class="about-section">
  <h1>About Us</h1>
  <p>Some text about who we are and what we do.</p>
</div>

<h2 style="text-align:center;font-family: 'Times New Roman', Times, serif; font-size: 40px;text-shadow: 5px 5px 15px ;color:cornsilk;">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/images/arjhey 1.png" width="100%">
      <div class="container">
        <h2>Arjhey Aquino</h2>
        <p class="title">Designer</p>
        <p>3BSIT-SC</p>
        <p>arde.aquino.au@phinmaed.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/images/jaime 1.png" width="100%">
      <div class="container">
        <h2>Jaime Ortega</h2>
        <p class="title">Designer</p>
        <p>3BSIT-SC</p>
        <p>jaca.ortega.au@phinmaed.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="static/images/venhar 1.png" width="100%">
      <div class="container">
        <h2>Venhar Dela Vega</h2>
        <p class="title">Designer</p>
        <p>3BSIT-SC</p>
        <p>vepa.delavega.au@phinmaed.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="static/images/allysa 1.png" width="100%">
      <div class="container">
        <h2>Allysa Valdez</h2>
        <p class="title">Designer</p>
        <p>3BSIT-SC</p>
        <p>aldi.valdez.au@phinmaed.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>


</body>
</html>
