<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxies</title>
    <link href="static/css/galaxies.css" rel="stylesheet" />
</head>
<body>

    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                </div>

                <ul class="nav-items">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/stars">Stars</a>
                    </li>
                    <li>
                        <a href="/asteroids">Asteroids</a>
                    </li>
                    <li>
                        <a href="/galaxies">Galaxies</a>
                    <li>
                        <a href="/aboutus">About Us</a>
                    </li>
                </ul>
                
            </nav>
        </div>
    </div>

    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="hero-content"><br><br><br>
                    <h1>Galaxy</h1>
                    <p>
                    A galaxy is a huge collection of gas, dust, and billions of stars and their solar systems,
                    all held together by gravity. We live on a planet called Earth that is part of our solar system.
                    </p>
                    <div class="hero-image">
                        <img src="" alt="">
                    </div>
                </div>
            </header>
        </div>
    </div>

    
</body>
</html>