<!--All Things Space Website
This website is all about Things on Space
Programmers:
1.Arjhey Aquino
2.Venhar Dela Vega
3.Jaimie Ortega
4. Alyssa Valdez
Date Submitted: October 28, 2022  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="static/css/home.css" rel="stylesheet" />
</head>
<body>

    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                </div>

                <ul class="nav-items">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/stars">Stars</a>
                    </li>
                    <li>
                        <a href="/asteroids">Asteroids</a>
                    </li>
                    <li>
                        <a href="/galaxies">Galaxies</a>
                    <li>
                        <a href="/aboutus">About Us</a>
                    </li>
                </ul>
                
            </nav>
        </div>
    </div>

    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="hero-content"><br><br><br><br><br>
                    <h1>Endless Things on Space</h1>
                    <div class="hero-image">
                        <img src="" alt="">
                    </div>
                </div>
            </header>
        </div>
    </div>

    
</body>
</html>