<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stars</title>
    <link href="static/css/stars.css" rel="stylesheet" />
</head>
<body>

    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                </div>

                <ul class="nav-items">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/stars">Stars</a>
                    </li>
                    <li>
                        <a href="/asteroids">Asteroids</a>
                    </li>
                    <li>
                        <a href="/galaxies">Galaxies</a>
                    <li>
                        <a href="/aboutus">About Us</a>
                    </li>
                </ul>
                
            </nav>
        </div>
    </div>
    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="hero-content"><br><br><br>
                    <h1>Stars</h1>
                    <p>
                     A star is any massive self-luminous celestial body of gas that shines
                     by radiation derived from its internal energy sources. Of the tens of billions
                     of trillions of stars in the observable universe, only a very small percentage are
                     visible to the naked eye.
                    </p>
                </div>
            </header>
        </div>
    </div>

    
</body>
</html>